@font-face {
  font-family: regular-woff;
  src: url(./fonts/67110a451d677abf8340c6da_ABCGintoDiscord-Regular.woff2);
}
@font-face {
  font-family: bold-woff;
  src: url(./fonts/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2);
}
@font-face {
  font-family: fasolid-woff;
  src: url(./fonts/fa-solid-900.woff2);
}
@font-face {
  font-family: remixixon;
  src: url(./fonts/remixicon.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-image: url(./images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

header {
  padding: 50px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
}

.image {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.image h1 {
  font-family: bold-woff;
  font-size: 25px;
}

.image img {
  height: 30px;
}

.middle_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.middle_nav a {
  text-decoration: none;
  color: white;
  font-family: regular-woff;
  font-weight: 600;
  border-radius: 8px;    
  transition: 0.3s ease;
  padding: 18px;
}

.middle_nav a:hover {
  background-color: royalblue; 

}

.right_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_nav button {
  background: white;
  font-size: 20px;
  padding: 8px 17px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.3s;
}

.right_nav button:hover{
background-color: #dadada;
transform: translateY(-4px);
}

.view1 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 40px;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.aside {
  /* padding: 10px; */
  /* border: 2px solid white; */
  width: 50%;
  margin-top: 45px;
}

.aside p {
  margin-top: 10px;
  font-size: 25px;
  font-family: regular-woff;
}

.aside h1 {
  letter-spacing: 1px;
  line-height: 60px;
  font-size: 65px;
  font-family: bold-woff;
}

.right-side {
  position: relative;
  top: -46px;
  left: 50px;
}

.right-side img {
  height: 570px;
}

.right-side #image1 {
  position: relative;
  right: 140px;
}

.right-side #image2 {
  position: absolute;
  height: 230px;
  right: 620px;
  top: 400px;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.right-side #image3 {
  position: absolute;
  height: 230px;
  right: -20px;
  top: 450px;
  transform: translate(-50%, -50%);
}


.download-container {
  width: 250px;
  margin-top: 75px;
  position: relative;

}

#downloadBtn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: #7289da;
  color: white;
  font-family: regular-woff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  position: relative;
    z-index: 999;
  
}

#downloadBtn:hover {
  transform: translateY(-3px);
  background-color: #5b6eae;
}

.gif img{
height: 70px;
position: absolute;
left: 147px;
top: -65px;
}


.progress-bar {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-inner {
  width: 0%;
  height: 100%;
  background-color: #43b581;
  border-radius: 5px;
  transition: width 0.2s ease;
}

.progress-text {
  text-align: center;
  margin-top: 5px;
  font-family: regular-woff;
}